@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-primary;
  color: global.$background-light;
}

.container-border {
  border-top: 0.5px global.$background-light solid;
  border-bottom: 0;
}

.copyright-space {
  height: 5rem;
}

a {
  color: global.$background-light;
  text-decoration: none;
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: rgb(196, 196, 196);
}

.logo {
  width: 13rem;
}
