<div class="container-fluid g-0">
  <div class="container g-0">
    <div
      class="row g-0 py-5 px-5 px-md-0 d-flex justify-content-between"
    >
      <div class="logo"></div>
      <div class="col-4 col-md-4 d-flex flex-column">
        <div class="subtitle pb-3">Kontakt</div>
        <div>Simona Lorenc Concept</div>
        <div class="d-flex flex-column">
          <a class="pt-2" [href]="mailToLink">e-mail: slorenc.soncept&#64;gmail.com</a>
          <a class="pt-2" [href]="'tel:+48518272333'">tel.: +48 793 733 350</a>
          <a class="pt-2">instagram</a>
        </div>
      </div>
      <!-- <div class="col-4 col-md-4 caption">
        <div class="pt-5 pt-md-0 mx-5 subtitle">
          Umów się na konsultacje online!
        </div>
        <div class="pt-2 pt-md-4 caption">
          Zapraszam do skorzystania z możliwości konsultacji. Wystarczy, że
          napiszesz maila, podając swoje dane oraz krótko opisując pytanie,
          zagadnienie prawne lub problem.<br />Po otrzymaniu wiadomości,
          skontaktuję się z Tobą w celu umówienia terminu spotkania oraz
          ustalenia szczegółów.<br />Po uiszczeniu opłaty, spotkamy się na
          konsultacji online, gdzie poznasz dalsze warunki współpracy.
        </div>
      </div> -->
    </div>
    <div
      class="d-flex flex-column container-border px-5 py-3 mx-5 mx-md-0 align-items-end"
    >
      <div>&copy; Copyright 2024 Simona Lorenc Concept</div>
      <div
        class="d-flex flex-column align-items-start align-items-md-end pt-md-0 pt-2"
      >
        <a [routerLink]="[privacyPolicyPath]" class="pt-2"
          >Polityka prywatności</a
        >
      </div>
    </div>
  </div>
</div>
