<div class="container-fluid g-0">
  <img class="image" ngSrc="footer/footer-background.avif" alt="Elegancki, jasny, nowoczesny salon modern classic z szarym narożnikiem, okrągłym białym stołem i parkietem w kształcie jodełki" fill />
  <div class="container g-0 d-flex flex-column justify-content-between">
    <div class="row p-5 g-0 d-flex justify-content-center text-center">
      <div class="title pb-3">Skontaktuj się ze mną</div>
      <img src="header/logo.svg" class="py-3 logo" alt="logo sl concept" />
      <div class="contact-name pt-2">Simona Lorenc Concept</div>
      <a class="caption pt-1" [href]="mailToLink"
        >e-mail: slorenc.soncept&#64;gmail.com</a
      >
      <a class="caption pt-1" [href]="'tel:+48793733350'"
        >tel.: +48 793 733 350</a
      >
      <a
        class="caption pt-1"
        [href]="'https://www.instagram.com/slorenc.concept/'"
        target="_blank"
        >instagram</a
      >
    </div>
    <div
      class="d-flex flex-column container-border px-5 py-3 mx-5 mx-md-0 align-items-end"
    >
      <div>&copy; Copyright 2025 Simona Lorenc Concept</div>
      <div
        class="d-flex flex-column align-items-start align-items-md-end pt-md-0 pt-2"
      >
        <a [routerLink]="[privacyPolicyPath]" class="pt-2"
          >Polityka prywatności</a
        >
      </div>
    </div>
  </div>
</div>
