.text-container {
    text-align: justify;
}

.image {
  width: 200px;
  height: 300px;
  background-color: pink;
}

button {
  background-color: transparent;
  color: #908277;
  padding: 10px 20px;
  border: 1px solid #908277;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #908277;
  color: white;
}
