@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-light;
  color: global.$background-primary;
}

.subtitle {
  font-weight: 300;
  text-transform: none;
}
