<div class="container-fluid g-0">
  <div class="container g-0">
    <div class="d-flex flex-column align-items-center p-5 ps-md-0 pe-md-0">
      <div class="col-12 text-center title">
        PROJEKTUJEMY MARZENIA, NIE TYLKO WNĘTRZA
      </div>
      <div class="col-12 pt-3 text-center caption">
        Stworzymy dla Ciebie wnętrza, które odzwierciedlą Twój styl, łącząc
        estetykę z funkcjonalnością w spójną i zachwycającą całość
      </div>
      <div class="row col-12 py-4 justify-content-center">
        <div class="col-12 col-md-6 col-xl-4 py-3">
          <div class="img-preview-container">
            <img class="img-preview" ngSrc="portfolio-preview/2.avif" fill />
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 py-3">
          <div class="img-preview-container">
            <img class="img-preview" ngSrc="portfolio-preview/1.avif" fill />
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 py-3">
          <div class="img-preview-container">
            <img class="img-preview" ngSrc="portfolio-preview/3.avif" fill />
          </div>
        </div>
      </div>
      <button [routerLink]="portfolioPath">Zobacz więcej</button>
    </div>
  </div>
</div>
