<div class="container-fluid g-0">
  <div class="container g-0">
    <div class="row g-0 py-5 d-flex justify-content-center">
      <div class="col-md-6 col-12 order-md-1 order-2 p-5 pb-0 ps-5 ps-md-0">
        <div class="title pb-3">O mnie</div>
        <div class="subtitle pb-3">mgr inż. arch. Simona Lorenc</div>
        <div class="pb-3 caption text-justify">
          Jestem absolwentką Wydziału Architektury Politechniki Krakowskiej, a
          doświadczenie zdobywałam, pracując dla polskich i zagranicznych
          pracowni architektonicznych. Moim celem jest tworzenie przestrzeni,
          które w pełni wykorzystują dostępne miejsce, zapewniając jednocześnie
          funkcjonalność. Wierzę, że kluczem do udanego projektu są przemyślane
          rozwiązania, które odpowiadają na potrzeby użytkowników, a równowaga
          między praktycznością a estetyką to fundament każdego projektu.<br /><br />
        </div>
        <div class="d-flex flex-column align-items-center">
          <button [routerLink]="aboutMePath">Zobacz więcej</button>
        </div>
      </div>
      <div class="col-md-6 col-12 order-md-2 order-1 img-preview-container">
        <img class="img-preview" ngSrc="about-me/about-me.avif" alt="Minimalistyczny projekt wnętrza salonu z zieloną sofą, drewnianym stołem i czarnymi krzesłami" fill />
      </div>
    </div>
  </div>
</div>
