@use "../../styles/global" as global;

.offer-image {
  background-image: url("../../../public/portfolio/1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.title {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  max-width: 100%;
}
