<div class="container-fluid g-0">
  <div class="img-header-container">
    <img class="img-header" ngSrc="portfolio-preview/1.avif" fill />
    <div class="text-center pt-5 header-title">Projekty</div>
  </div>
  <div class="container g-0">
    <div class="row py-4 gx-0 gx-md-4 justify-content-between">
      <div
        *ngFor="let project of projects"
        class="col-12 col-md-6 col-xl-4 py-3"
      >
        <a [routerLink]="['/projekty', project.id]">
          <div class="img-preview-container pointer">
            <img
              [ngSrc]="project.basePath + project.mainImage"
              class="img-preview"
              [alt]="project.mainImageAlt"
              fill
            />
            <div class="overlay">
              <div class="overlay-text">{{ project.title }}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
