@use "../../styles/global" as global;

.container-fluid {
    background-color: global.$background-primary;
    color: global.$background-light;
}

.offer-image {
    padding-top: 100px;
}

li {
    line-height: 30px;
    list-style: none;
}