@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-light;
  color: global.$background-primary;
}

.container {
  border-top: 1px solid global.$background-primary;
}