@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-light;
  color: global.$background-primary;
}

.container {
  border-top: 1px solid global.$background-primary;
}

.card {
  background-color: white;
  height: 215px;
  padding: 1.5rem;
}

@media (max-width: 992px) {
  .card {
    height: 160px;
  }
}

@media (max-width: 768px) {
  .card {
    height: 110px;
  }
}