@use "../../styles/global" as global;

.container-fluid {
  height: 100vh;
  color: global.$background-light;
}

.main-image {
  position: relative;
  background-image: url("../../../public/home/main-photo.png");
  background-size: cover;
  background-position: center;
}
