@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-light;
  color: global.$background-primary;
}

#lightgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

img {
  height: 40vh;
}
