<div class="container-fluid g-0">
  <div class="container g-0">
    <div class="row pt-5 g-0 justify-content-center">
      <div class="pt-5">
        <div class="text-center title">{{ title }}</div>
      </div>
      <div class="pt-4 pb-5">
        <lightgallery id="lightgallery" [settings]="settings">
          <a *ngFor="let image of images" [href]="image" class="gallery-item">
            <img [src]="image" class="img-responsive pointer-scale" />
          </a>
        </lightgallery>
      </div>
    </div>
  </div>
</div>
