@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-light;
  color: global.$background-primary;
}

.img-container {
  position: relative;
  height: 75vh;
}

.img {
  object-fit: contain;
}
