@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-light;
  color: global.$background-primary;
}

#lightgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.gallery-item img {
  width: auto;
  height: 350px;
}

@media (max-width: 767.98px) {
  .gallery-item img {
    width: 100%;
    height: auto;
  }
}
